# -------------------------
# Flutter / Dart
# -------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/debug
android/app/profile
android/app/release
app.*.symbols
app.*.map.json

# -------------------------
# Node.js
# -------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# Secrets
# -------------------------
.env
*.env
serviceAccountKey.json
fittracker-*-firebase-adminsdk-*.json

# -------------------------
# IDE / OS
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/
Thumbs.db